.rtl {
	direction: rtl;
}

.datepicker {
	position: relative;
	text-align: left;
}

.datepicker * {
	box-sizing: border-box;
}
.datepicker__calendar .month,
.datepicker__calendar .year {
	width: 33.333%;
}

.datepicker__clear-button,
.datepicker__calendar-button {
	cursor: pointer;
	font-style: normal;
}

.datepicker__clear-button.disabled,
.datepicker__calendar-button.disabled {
	color: #999;
	cursor: default;
}

.datepicker__calendar {
	position: absolute;
	z-index: 100;
	background: #fff;
	width: 300px;
	border: 1px solid #ccc;
}

.datepicker__calendar header {
	display: block;
	line-height: 40px;
}

.datepicker__calendar header span {
	display: inline-block;
	text-align: center;
	width: 71.42857142857143%;
	float: left;
}

.datepicker__calendar header .prev,
.datepicker__calendar header .next {
	width: 14.285714285714286%;
	float: left;
	text-indent: -10000px;
	position: relative;
}

.datepicker__calendar header .prev:after,
.datepicker__calendar header .next:after {
	content: '';
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	border: 6px solid transparent;
}

.datepicker__calendar header .prev:after {
	border-right: 10px solid #000;
	margin-left: -5px;
}

.datepicker__calendar header .prev.disabled:after {
	border-right: 10px solid #ddd;
}

.datepicker__calendar header .next:after {
	border-left: 10px solid #000;
	margin-left: 5px;
}

.datepicker__calendar header .next.disabled:after {
	border-left: 10px solid #ddd;
}

.datepicker__calendar header .prev:not(.disabled),
.datepicker__calendar header .next:not(.disabled),
.datepicker__calendar header .up:not(.disabled) {
	cursor: pointer;
}

.datepicker__calendar header .prev:not(.disabled):hover,
.datepicker__calendar header .next:not(.disabled):hover,
.datepicker__calendar header .up:not(.disabled):hover {
	background: #eee;
}

.datepicker__calendar .disabled {
	color: #ddd;
	cursor: default;
}

.datepicker__calendar .flex-rtl {
	display: flex;
	width: inherit;
	flex-wrap: wrap;
}

.datepicker__calendar .cell {
	display: inline-block;
	padding: 0 5px;
	width: 14.285714285714286%;
	height: 40px;
	line-height: 40px;
	text-align: center;
	vertical-align: middle;
	border: 1px solid transparent;
}

.datepicker__calendar .cell:not(.blank):not(.disabled).day,
.datepicker__calendar .cell:not(.blank):not(.disabled).month,
.datepicker__calendar .cell:not(.blank):not(.disabled).year {
	cursor: pointer;
}

.datepicker__calendar .cell:not(.blank):not(.disabled).day:hover,
.datepicker__calendar .cell:not(.blank):not(.disabled).month:hover,
.datepicker__calendar .cell:not(.blank):not(.disabled).year:hover {
	border: 1px solid #4bd;
}

.datepicker__calendar .cell.selected {
	background: #4bd;
}

.datepicker__calendar .cell.selected:hover {
	background: #4bd;
}

.datepicker__calendar .cell.selected.highlighted {
	background: #4bd;
}

.datepicker__calendar .cell.highlighted {
	background: #cae5ed;
}

.datepicker__calendar .cell.highlighted.disabled {
	color: #a3a3a3;
}

.datepicker__calendar .cell.grey {
	color: #888;
}

.datepicker__calendar .cell.grey:hover {
	background: inherit;
}

.datepicker__calendar .cell.day-header {
	font-size: 75%;
	white-space: nowrap;
	cursor: inherit;
}

.datepicker__calendar .cell.day-header:hover {
	background: inherit;
}